HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea/workspace.xml
.idea/libraries/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini
.directory

# Logs
*.log
logs/

# Environment files
.env